---
import portrait from '../assets/homePortrait.png';
import portraitHoch from '../assets/ueberMichPortrait.png';
import runner from '../assets/oneLineRun.jpg';
import angebot1 from '../assets/angebot1.jpg';
import angebot2 from '../assets/angebot2.jpg';
import angebot3 from '../assets/angebot3.jpg';
---

<div id="container" class="max-w-6xl w-full px-4 sm:mx-auto">
    <main>
        <!-- Home -->
        <div class="grid grid-cols-12 gap-4 mb-20">
            <div class="col-span-12 md:col-span-8">
                <div class="flex flex-col gap-4">
                    <div class="h-64 md:h-96">
                        <img class="animate-image w-full h-full object-cover rounded-3xl" src={portrait.src}
                             alt="Portrait" fetchpriority="high"/>
                    </div>
                    <div>
                        <p class="text-lg text-center">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                            et justo duo dolores et ea rebum.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-span-12 md:col-span-4">
                <div class="flex flex-col gap-4">
                    <div class="h-96 md:h-96">
                        <img class="animate-image w-full h-full object-cover rounded-3xl" src={runner.src}
                             alt="Runner" fetchpriority="high"/>
                    </div>
                    <div>
                        <p class="text-lg text-center">
                            Deiner Gesundheit zu Liebe.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Angebot -->
        <div class="flex justify-center items-center mt-12 mb-4">
            <h1 class="text-4xl">angebot</h1>
        </div>
        <div class="grid grid-cols-12 gap-4 mb-20">
            <div class="col-span-12 md:col-span-4">
                <div class="flex flex-col gap-4">
                    <div class="h-64 md:h-96">
                        <img class="animate-image w-full h-full object-cover rounded-3xl" src={angebot1.src}
                             alt="Angebot 1" fetchpriority="high"/>
                    </div>
                    <div>
                        <p class="text-lg text-center">
                            Angebot 1
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-span-12 md:col-span-4">
                <div class="flex flex-col gap-4">
                    <div class="h-64 md:h-96">
                        <img class="animate-image w-full h-full object-cover rounded-3xl" src={angebot2.src}
                             alt="Angebot 2" fetchpriority="high"/>
                    </div>
                    <div>
                        <p class="text-lg text-center">
                            Angebot 2
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-span-12 md:col-span-4">
                <div class="flex flex-col gap-4">
                    <div class="h-64 md:h-96">
                        <img class="animate-image w-full h-full object-cover rounded-3xl" src={angebot3.src}
                             alt="Angebot 3" fetchpriority="high"/>
                    </div>
                    <div>
                        <p class="text-lg text-center">
                            Angebot 3
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- über mich -->
        <div class="flex justify-center items-center mt-12 mb-4">
            <h1 class="text-4xl">über mich</h1>
        </div>
        <div class="grid grid-cols-12 gap-4 mb-20">
            <div class="col-span-12 md:col-span-4">
                <div class="flex flex-col gap-4">
                    <div class="h-96 md:h-128">
                        <img class="animate-image w-full h-full object-cover rounded-3xl" src={portraitHoch.src}
                             alt="Portrait" fetchpriority="high"/>
                    </div>
                </div>
            </div>

            <div class="col-span-12 md:col-span-8">
                <h4 class="text-xl font-bold mt-3">Martina Kaufmann</h4>
                <p class="text-lg mb-8">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum.
                </p>
                <p class="text-lg mb-8">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua.
                </p>

                <h5 class="text-lg font-bold">Ausbildung</h5>
                <div>
                    <ul class="list-none list-inside text-foreground text-lg mb-8">
                        <li>Ausbildung 1</li>
                        <li>Ausbildung 2</li>
                        <li>Ausbildung 3</li>
                    </ul>
                </div>

                <h5 class="text-lg font-bold">Berufliche Weiterbildungen</h5>
                <div>
                    <ul class="list-none list-inside text-foreground text-lg mb-8">
                        <li>Weiterbildung 1</li>
                        <li>Weiterbildung 2</li>
                        <li>Weiterbildung 3</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- kontakt -->
        <div class="flex justify-center items-center mt-12 mb-4">
            <h1 class="text-4xl">kontakt</h1>
        </div>
        <div class="grid grid-cols-12 gap-4 mb-20">

            <div class="col-span-12 md:col-span-8">
                <p class="text-lg mb-8 mt-3">
                    Für Terminanfragen oder Informationen ruden Sie mich an oder senden Sie mir bitte eine Mail.
                </p>

                <h5 class="text-lg font-bold">Physio Himmelblau Kaufmann</h5>
                <div>
                    <ul class="list-none list-inside text-foreground text-lg mb-8">
                        <li>E-Mail: martina.kaufmann@physio-himmelblau.ch</li>
                        <li>Telefonnummer: 079 407 22 44</li>
                        <li>Adresse: Pfauengasse 29, 5330 Bad Zurzach</li>
                    </ul>
                </div>

                <h5 class="text-lg font-bold">Impressum / Datenschutzerklärung</h5>
                <div>
                    <p class="text-lg mb-8">
                        TODO
                    </p>
                </div>
            </div>

            <div class="col-span-12 md:col-span-4">
                <div class="flex flex-col gap-4 h-full">
                    <div class="h-96 md:h-96">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d798.6651304998188!2d8.289496926517039!3d47.58554159042205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479068de33e0efed%3A0x9cd7510a9458988b!2sPfauengasse%2029%2C%205330%20Bad%20Zurzach!5e1!3m2!1sde!2sch!4v1780669549947!5m2!1sde!2sch"
                                class="animate-image w-full h-full rounded-3xl" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script>
    import { gsap } from 'gsap';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';

    gsap.registerPlugin(ScrollTrigger);

    const images = document.querySelectorAll('.animate-image');

    images.forEach((img) => {
        gsap.from(img, {
            opacity: 0,
            y: 50,
            duration: 1,
            ease: 'power2.out',
            scrollTrigger: {
                trigger: img,
                start: 'top 90%',
                toggleActions: 'play none none none',
            }
        });
    });
</script>